*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.baslik{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  margin-top: 15px;
  color: darkmagenta;
}
.container{
margin: 0 auto;
color: white;
font-family: sans-serif;
padding: 20px;
width: 1200px;
height: 100vh;
text-transform: capitalize;
display: grid;
gap: 20px;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: 1fr 2fr 4fr 1fr;

}
.container > * {
  background-color: rgb(163, 171, 195);
  padding: 20px;
  font-size: 20px;
  box-shadow: 5px 5px 20px 5px #B48729;
}
/* Responsive Ayarlari */
@media (max-width: 700px){
  .container{
    grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px){
  .container{
    grid-template-columns: 50vh;
    }
}
.not_hesaplama, .kredi, .zam{
  
  border-radius: 3vh;
  height: 32vh;
  margin: 1vh auto;
  padding: 6vh;
}
#kSonuc,
#zSonuc, #sonuc {
  
  text-align: center;
padding-top: 10px;
color: red;
font-size: 20px;
}
#d3{
  margin: 2vh;
  margin-bottom: 0;
  text-align: center;
}
#d2, #k1,
#z1 {
  display: inline-block;
resize: none;
}
#i1{
  font-size: 20px;
  border-style: inset;
}

#frm{
  text-align: center;
}
#hesap, #kredi,
#zam  {
  float: right;
  margin-top: 30px;
  color: white;
  background-color: rgb(112, 112, 217);
  border: 0;
  border-radius: 6px;
  padding: 5px;
}


/* -----------  HESAP MAKINESI ------------- */
.calculator {
  height: 32vh;
  display: grid;
  margin: 1vh auto;
  padding: 4vh;
  border-radius: 3vh;
  border-color: aliceblue;
}

.keypad {
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1vh 2vh;
}
.key {
  background-color: #363734;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
}
.key:hover{
  opacity: 50%;
}
#clear {
  background-color: #6A6A65;
}
.keypad button:nth-child(2), .keypad button:nth-child(3) {
  background-color: #6A6A65;
}
.operator {
  background-color: #B48729;
}
.zero {
  grid-column: 1 / span 2;
  border-radius: 7vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4vh;
}
#result{
   height: 40px;
  color: rgb(163, 39, 39);
  font-size: 20px;
  display: inline-block;
  padding: 9px;
  border-color: #bababa;
  background-color: rgb(187, 187, 187);
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #6A6A65;
  text-align: right;
}
